* {
     font-family: 'Nunito Sans'

}
.header {
     height: 20vh; 
     display: flex; 
     justify-content: space-around; 
     align-items: center; 
     background-color: #7cb490;   
}

.logo{
     height:100%; 
}
.opciones-nav{
     text-decoration: none;
     font-family: 'Nunito Sans';
     font-weight: 400;
     font-size: 100%;
     display: flex;
     margin: 0px 20px;
     color: #000000;
}
.list-nav {
     list-style: none;
     display:flex;
     height: 20%;
     color: #000000; 
}

.descripcion {
     background-color: #fff2af ;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 80px;
     height: 88vh;
}

.descripcion1 {
     display: flex;
     align-items: center;
     margin-left: 10%;
     justify-content: space-around; 
     flex-direction: column;
     font-size: 1.5em;
     font-family: 'Nunito Sans';
}

.info { 
     display: flex;
     flex-direction: column;
     height: 60p;
     font-size: 1.5em;
     font-family: 'Nunito Sans';
}

.logo2 {
     width: 30%;
     display: flex;
     justify-content: flex-end
}

.botones1 { 
     display: flex;
     align-content: flex-start;
     font-size: 1.5em;
     color: white;
     background-color: #fff2af ;
     background-color: #d31900;
     border-style: none;
     border-radius: 12px;
}


